.main_header {
  .header_bar {
    i {
      font-size: 1.6em;
    }

    p {
      font-size: 0.875em;
    }
  }
}

.main_header_navbar {
  img {
    width: 165px;
    vertical-align: unset;
  }
}

@media screen and (min-width: 576px) {
  .main_header_navbar {
    img {
     width: 280px;
    }
  }
}